[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
appnope = "*"
ipykernel = "*"
inflect = "*"

[packages]
flask = "==1.1.2"
gunicorn = "==20.0.4"
six = "==1.15.0"
requests = "==2.23.0"
google-auth = "==1.16.0"
google-auth-oauthlib = "==0.4.1"
psycopg2-binary = "*"
pyhash = "*"
Flask-Cors = "==3.0.8"
PyYAML = "==5.3.1"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
pyfunctional = "*"
meilisearch = "==0.15.1"
sqlalchemy = "==1.4.*"
cachetools = "==4.2.1"
ipykernel = "*"
inflect = "*"

[requires]
python_version = "3.7"
